:root{
    --title-default: #373956;
    --background-defaut :#ffffff ;

    --lg-txt :#000000 ;
    --svg-user : #5d3c9c ;

    --image-menu : url(../../../assets/Menu/icon-hmb.png) ;
    --image-close-menu : url(../../../assets/Menu/icn-r-mn.png) ;
    
    --menu-link-clr : #373956 ;
    --bg-menu : #f9f9f9fa ;
}

// ==================== Font ===================

@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

// ==================== Variable ===================

$roroto : 'Roboto', sans-serif;
$lato : 'Lato', sans-serif ; 
$open-sans : 'Open Sans', sans-serif;
$clr-tlt : #373956 ;

// ============== css header ===================

.header-lg{ 
    margin-bottom: -11.2rem;
    background-color: transparent;
    padding-top: 2rem;    
}
.menu-bar{    
    justify-content: space-between;
    padding: 2rem 5rem;
}
.svg-lg{
    width: 135px;
}
.nav-link {
    color: #373956 !important;    
    font-size: 12.2px;
    // -webkit-text-stroke: 0.5px #5c5c5c;
    //App
    // -webkit-text-stroke: 0.2px #5c5c5c;
    font-weight: 600;
    word-spacing: 2.5px;
    letter-spacing: 0.2px;
}
.clr-link {
    color: red  !important;   
    // -webkit-text-stroke: 0.5px red;
}
    
.link-active{
    // font-weight: 900;
    //app
    -webkit-text-stroke: .3px;
}
.grp-link{
    display: flex;
    padding-top: 1.5rem;
}

// =====================css header sm ====================
.menu-bar-sm{    
    justify-content: space-between;
}
.header-sm{ 
    background-color: #fffcfc;
    padding: 1.5rem 1rem;
    margin-bottom: -8rem;
    position: fixed;
    width: 100%;
    z-index: 999;
    box-shadow: 0px 2px 12.5px rgba(4, 8, 79, 0.08);
}
.svg-lg-sm{
    width: 119px;
}
.btn-menu{
    background-image: url(/assets/Menu/icons8-menu-48.png);      
    background-position: center;
    background-size: 70%;
    border: none;
    height: 38px;
    border-radius: 4px;
    width: 45px;
    background-repeat: no-repeat;
    background-color: transparent;
    outline: none;
}
.bg-menu{
    background-image: url(/assets/Menu/icons8-effacer-48.png);  
    background-size: 49%;
    transition: all 0.2s cubic-bezier(0.13, -0.01, 0, 1.02);  
}
.grp-link-sm{
    margin: auto;
    width: max-content;
    padding-top: 1.5rem;
}
.nv-sm{
    padding-bottom: 1rem;
}

@media screen and (max-width : 767px){
    .header-lg{
        display: none;
    }
}
@media screen and (min-width : 767px){
    .header-sm{
        display: none;
    }
}
@media screen and (max-width : 475px){
    .header-sm {   
        padding: 0.5rem 1rem;
    }
    .svg-lg-sm {
        width: 99px;
        margin-top: 5px;
    }
    .btn-menu {        
        background-size: 57%;
    }
    .bg-menu{        
        background-size: 39%;        
    }
    .grp-link-sm {        
        padding-top: 0.5rem;
    }
    .nv-sm {
        padding-bottom: 0.7rem;
    }
}

// css app

@media screen and (min-width : 1400px){
    .menu-bar{
        width: 1350px !important;
        margin: auto !important;
    }
    .nav-link{
        font-size: 13.2px !important;
        padding: 0.5rem 1.5rem;
    }
}
@media screen and (min-width : 1600px){
    .menu-bar{
        width: 1550px !important;
        margin: auto !important;
    }
    .nav-link{
        font-size: 15.2px !important;
        padding: 0.5rem 2rem;
        letter-spacing: 0.6px;
    }
    .svg-lg{
        width: 165px !important;
    }
    .menu-bar{
        transform: translateY(20px) !important;
        padding-top: 0px !important;
    }


}

@media screen and (min-width : 2000px){
    .menu-bar{
        width: 1950px !important;
        margin: auto !important;
    }
    .nav-link{
        font-size: 17.8px !important;
        padding: 0.5rem 2.5rem;
        letter-spacing: 1px;
    }
    .svg-lg{
        width: 185px !important;
    }
}

@media screen and (min-width : 2400px){
    .menu-bar{
        width: 2350px !important;
        margin: auto !important;
    }
    .nav-link{
    font-size: 20.2px !important;
    padding: 0.5rem 3rem;
    letter-spacing: 1.5px;
    }
    .menu-bar{
        transform: translateY(30px) !important;
        padding-top: 0px !important;
        padding-bottom: 0px !important;
    }
    .svg-lg{
        width: 225px !important;
    }

}


