<section class="header-lg">
<div class="d-flex  menu-bar">
    <div>
        <a class="logo-link" >
            <img src="../../..//assets/logo/logo.svg" alt="" class="svg-lg" >
        </a>  
    </div>
    <div class="grp-link">
        <a class="nav-link clr-link" routerLink="/accueil" [routerLinkActive]="['link-active']" > {{ 'Accueil' | translate }} </a>
        <a class="nav-link "  routerLink="/presentation" [routerLinkActive]="['link-active']"> {{ 'Présentation' | translate }} </a>
        <a class="nav-link " routerLink="/partner" [routerLinkActive]="['link-active']">  {{ 'NosPartenaires' | translate }} </a>
        <a class="nav-link "  routerLink="/help-center" [routerLinkActive]="['link-active']"> {{ 'HelpCenter' | translate }} </a>
        <a class="nav-link clr-link"  routerLink="/home/normal_mode" [routerLinkActive]="['link-active']"> {{ 'Notreoffre' | translate }} </a>
    </div>
</div>
</section>

<section class="header-sm">
    <div class="d-flex  menu-bar-sm">
        <div>
            <a class="logo-link-sm" >
                <img src="../../..//assets/logo/logo.svg" alt="" class="svg-lg-sm" >                
            </a>  
        </div>
        <div style="margin-top: 0.5rem;">
            <button (click)="varmenu()" [ngClass]="{'bg-menu':menuactive}" class="btn-menu" type="button" data-target="#menu-lien" data-toggle="collapse" aria-label="Toggle navigation" 
            aria-controls="menu-lien" aria-expanded="true">
                
              </button>
        </div>               
    </div>
    <div  id="menu-lien" class="collapse grp-link-sm">
        <a class="nav-link clr-link nv-sm" routerLink="/accueil" [routerLinkActive]="['link-active']" > {{ 'Accueil' | translate }} </a>
        <a class="nav-link  nv-sm"  routerLink="/presentation" [routerLinkActive]="['link-active']"> {{ 'Présentation' | translate }} </a>
        <a class="nav-link  nv-sm" routerLink="/partner" [routerLinkActive]="['link-active']">  {{ 'NosPartenaires' | translate }} </a>
        <a class="nav-link  nv-sm"  routerLink="/help-center" [routerLinkActive]="['link-active']"> {{ 'HelpCenter' | translate }} </a>
        <a class="nav-link clr-link nv-sm"  routerLink="/home/normal_mode" [routerLinkActive]="['link-active']"> {{ 'Notreoffre' | translate }} </a>
    </div> 
</section>
