@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans|Roboto:500&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

.presentation{
    .entet-acceuil{
     padding-top: 11.5rem;
     
    }
    .padding-presentation{
        width:87% ;
        margin-left:auto ;
        margin-right:auto ;  

        .table-caption{
            display: table-caption;
            padding-top: 45px;
            .title-presentation{
                font-family: "roboto";
                font-weight: 600;
                color: #393756;
                font-size: 38px;
                line-height: unset;
                letter-spacing: .4px;
                white-space: nowrap;
            }
            p{
                font-family: "lato";
                padding-top:20px;
                color:#8c8fa9;
                font-size: 14px;
                font-weight: normal;
                line-height: 1.7;
                letter-spacing: .7px;
            }
        }
        .p-right{
            transform: translateX(-70px);
        }
        .img-text{
            width: 650px;
        }
        .back-img{
            width: 20%;
            position: absolute;
            height: 530px;
            background-color: #F8F7FB;
            left: 0px;
            border-top-right-radius: 60px;
        }
        .div-video{
            margin-top:40px;
            .height{
                height: 60px;
            }
            .block-video{
                width: 100%;
                height: 470px;
                background-color: #aeadad;
                border-radius: 8px;
                margin-top:60px;
            }
            .p-text-video{
                padding-left: 5%;
                padding-right: 0px;
                .title{
                    font-family: "roboto";
                    font-weight: bold;
                    font-size: 30px;
                    letter-spacing: .2px;
                    color: #373956;
                    padding-top: 45px;
                    padding-bottom: 15px;
                }
                p{
                    font-family: "lato";
                    padding-top:20px;
                    color:#8c8fa9;
                    font-size: 14px;
                    font-weight: normal;
                    line-height: 1.7;
                    letter-spacing: .7px;
                }
                .img-arrow{
                    width: 10px;
                    margin-left: 8px;
                }
                .text-pink{
                    font-family: "open sans";
                    color: #8b54b0;
                    font-weight: bold;
                    font-size: 13.2px;
                    letter-spacing: .6px;
                    word-spacing: 1px;
                    padding-top:25px;
                    padding-left:2px;
                }
            }
        }
        .div-vision{
            margin-top:70px;
            .block-vision{
                padding-right:50px;
                .title{
                    font-family: "roboto";
                    font-weight: bold;
                    font-size: 30px;
                    letter-spacing: .2px;
                    color: #373956;
                    padding-bottom: 15px;
                }
                p{
                    font-family: "lato";
                    padding-top:20px;
                    color:#8c8fa9;
                    font-size: 14px;
                    font-weight: normal;
                    line-height: 1.7;
                    letter-spacing: .7px;
                }
                .para-second{
                    padding-top:10px;
                }
                .text-pink{
                    font-family: "open sans";
                    color: #8b54b0;
                    font-weight: bold;
                    font-size: 13.2px;
                    letter-spacing: .6px;
                    word-spacing: 1px;
                    padding-top:20px;
                    padding-left:2px;
                }
                .img-arrow{
                    width: 10px;
                    margin-left: 8px;
                }
            }
            .img-vision{
                margin-top: 70px;
                width: 55px;
                position: absolute;
                left: -90;
                height: 544px;
            }
            .pad-top{
                padding-top:80px;
            }
            
        }
        .logo-partners{
            margin-top: 60px;
            margin-bottom: 75px;
            .col{
                display: flex;
                justify-content: center;
            }
            .img-logo{
                text-align: center;
                img{
                    width:150px;
                }
            }
        }
        .fin-para{
            padding-top: .7px !important;
        }
    }
}
@media screen and (max-width : 1300px){
    .padding-presentation{
        .p-right{
            transform: translateX(-7vw)!important;
        }

    }
}

@media screen and (max-width : 991px){
    .padding-presentation{
        width: 90% !important;
        .p-right{
            transform: translateX(0px) !important;
        }
        .dis-table{
            display: table;
            margin-left: auto;
            margin-right: auto;
        }
        .marg-auto{
            text-align: center;
            margin-top:30px;
            transform: translateX(0px) !important;
        }
        .p-text-video,.p-video,.text-presentation{
            margin-left:auto !important;
            margin-right: auto !important;
            display: table !important;
            margin-top:40px !important;
        }
        .block-vision{
            margin-left:auto !important;
            margin-right: auto !important;
        }
        .p-text-video{
            padding-right: 15px !important;
            padding-left: 15px !important;
            margin-top:10px !important;
        }
        .div-vision{
            margin-top:40px !important;
            padding-left:0px !important;
            padding-right:0px !important;
        }
        .no-padding{
            padding-top:0px !important;
        }
        .back-img{
            width:35% !important;
        }
        .div-video{
            margin-top:10px !important;
        }
        .table-caption{
            padding-top: 10px !important;
        }
        .title{
            padding-bottom: 0px !important;
        }
        .block-vision{
            padding-right:15px !important;
            padding-left:15px !important;
        }
        .pad-top{
            padding-top:10px !important;
        }  
    }
    .block-video{
        height:360px !important;
    }
    .back-img{
        height: 400px !important;
    }
    .div-video{
        flex-direction: column-reverse !important;
    }
    .table-caption{
        display: table !important;
    }
}
@media screen and (max-width : 1200px) and (min-width : 992px){
    .padding-presentation{
        width: 90% !important;
        .img-text{
            width: 624px !important;
            margin-top: 32px;
        }
        .title-presentation{
            font-size: 35px !important;
        }
        p{
            font-size: 13px !important;
        }
        .p-right{
            transform: translateX(-9vw)!important;
        }
        .block-video{
            height:460px !important;
        }
        .back-img{
            height: 520px !important;
        }
        .pad-top{
            padding-top: 45px !important;
        }
    }
}

@media screen and (max-width : 1100px)  and (min-width : 992px) {
    .padding-presentation{
        .img-text{
            width: 590px!important;
            margin-top: 32px;
        }
        .p-right{
            transform: translateX(-9vw)!important;
        }

    }
}

@media screen and (max-width : 1050px)  and (min-width : 992px){
    .padding-presentation{
        .img-text{
            width: 560px!important;
            margin-top: 40px !important;
        }
        .p-right{
            transform: translateX(-9vw)!important;
        }
        .pad-top{
            padding-top: 50px !important;
        }
    }
}

@media screen and (max-width : 768px){
    .padding-presentation{
        .title-presentation{
            font-size: 30px !important;
        }
        p{
            font-size: 14px !important;
        }
        .img-text{
            width: 500px!important;
        }
        .title{
            font-size: 25px !important;
        }
        .text-pink{
            font-size: 11.2px !important;
        }
        .div-vision{
            margin-top: 40px !important;
        }
        .img-arrow{
            width: 8px !important;
        }
    }
}
@media screen and (max-width : 560px){
    .padding-presentation{
        .title-presentation{
            font-size: 28px !important;
        }
        p{
            font-size: 13px  !important;
        }
        .img-text{
            width: 370px!important;
        }
        .block-video{
            height: 300px !important;
        }
        .back-img{
            height:340px !important;
        }
        .title{
            font-size: 23px !important;
        }
        .text-pink{
            font-size: 11px !important;
        }
        .img-logo{
            img{
                width:130px !important;
            }
        }
    }
}


@media screen and (max-width : 460px){
    .padding-presentation{
        .img-text{
            width: 350px !important;
        }
        .p-right{
            transform: translateX(0px) !important;
        }
    }
}

@media screen and (max-width : 360px){
    .padding-presentation{
        .img-text{
            width: 300px !important;
        }
        .p-right{
            transform: translateX(0px) !important;
        }
        .title-presentation{
            font-size: 23px !important;
        }
    }
}

@media screen and (max-width : 340px){
    .padding-presentation{
        .img-text{
            width: 290px !important;
        }
        .p-right{
            transform: translateX(-8px) !important;
        }
    }
}

@media screen and (min-width : 1400px){
    .padding-presentation{
        width:1200px !important;
        margin-left:auto !important;
        margin-right:auto !important;
        .title-presentation{
            font-size: 38px !important;
            letter-spacing: .8px !important;
        }
        p{
            font-size: 14.8px !important;
            line-height: 1.8 !important;
            letter-spacing: 0.4px !important;
        }
        .p-right{
            transform: translateX(-80px)!important;
        }
        .img-text{
            width: 700px!important;
        }
        .title{
            font-size:32px !important;
        }
        .text-pink{
            font-size: 13.2px !important;
        }
        .img-logo{
            img{
                width:180px !important;
            }
        }
        .block-video{
            height:450px !important;
        }
        .back-img{
            height: 510px !important;
        }
        .img-arrow{
            width: 10px !important;
        }
    }
}
@media screen and (min-width : 1600px){
    .padding-presentation{
        width:1400px !important;
        margin-left:auto !important;
        margin-right:auto !important;
        .title-presentation{
            font-size: 46px !important;
            letter-spacing: 1px !important;
        }
        p{
            font-size: 17.8px !important;
            line-height: 1.8 !important;
            letter-spacing: 0.4px !important;
        }
        .p-right{
            transform: translateX(-60px)!important;
        }
        .img-text{
                width: 820px!important;
            }
        .title{
            font-size:40px !important;
        }
        .text-pink{
            font-size: 16.2px !important;
        }
        .img-logo{
            img{
                width:200px !important;
            }
        }
        .block-video{
            height:550px !important;
        }
        .back-img{
            height: 610px !important;
        }
        .img-arrow{
            width: 11px !important;
        }
    }
    .table-caption{
        padding-top: 60px !important;
    }
    
}


@media screen and (min-width : 2000px){
    .padding-presentation{
        width:1700px !important;
        margin-left:auto !important;
        margin-right:auto !important;
        .title-presentation{
            font-size: 60px !important;
            letter-spacing: 1.8px !important;
        }
        p{
            font-size: 22.8px !important;
            line-height: 1.8 !important;
            letter-spacing: 0.7px !important;
        }
        .p-right{
            transform: translateX(-100px)!important;
        }
        .img-text{
            width: 1050px!important;
        }
        .title{
            font-size:46px !important;
        }
        .text-pink{
            font-size: 21.2px !important;
        }
        .block-video{
            height:760px !important;
        }
        .back-img{
            height: 820px !important;
        }
        .img-logo{
            img{
                width:230px !important;
            }
        }
        .img-arrow{
            width: 14px !important;
        }
    }
    .table-caption{
        padding-top: 100px !important;
    }
    
}

@media screen and (min-width : 2400px){
    .padding-presentation{
        width:2000px !important;
        margin-left:auto !important;
        margin-right:auto !important;
        .title-presentation{
            font-size: 64px !important;
            letter-spacing: 2px !important;
        }
        p{
            font-size: 25.8px !important;
            line-height: 1.8 !important;
            letter-spacing: 1px !important;
        }
        .p-right{
            transform: translateX(-100px)!important;
        }
        .img-text{
            width: 1200px !important;
        }
        .block-video{
            height:750px !important;
        }
        .title{
            font-size:50px !important;
        }
        .text-pink{
            font-size: 24.2px !important;
        }
        .back-img{
            height: 810px !important;
        }
        .img-logo{
            img{
                width:260px !important;
            }
        }
        .img-arrow{
            width: 16px !important;
        }
        .table-caption{
            padding-top: 100px !important;
        }
    }
}

