<section class="presentation" >
    <div class="padding-presentation">
        <section class="entet-acceuil">
            <div class="row">
                <div class="col col-md-6">
                    <div class="table-caption">
                        <h4 class="title-presentation">
                            Quelques lignes à propos <div> de Spotfit </div>    
                        </h4>
                        <p>
                            Lorem ipsum dolor sit, amet consectetur adipisicing elitVolu. Volups, beatae. Veritatis quaerat nobis molestias, nulla incidunt quod archi enim magni, earum esse fuga recusandae, commodi aliquid labore alias id laudantium.
                            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ab perspiciatis quas quam ullam? Quas totam possimus, tenetur quam optio accusantium amet asperiores autemipsa ipsa officia voluptatem reiciendis omnis corrupti ipsum?
                            Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        </p>
                    </div>
                </div>
                <div class="col col-md-6">
                    <img src="../assets/svg/presentation/illustration5.svg" class="img-text"  alt="">
                </div>
            </div>
        </section>
        <div class="row div-video">
            <div class="back-img">

            </div>
            <div class="col col-md-8">
                <div class="block-video">
                </div>
            </div>
            <div class="col col-md-4 p-text-video">
                <h4 class="title">Notre mission</h4>
                <p>
                    Spotfit permet aux collaborateurs
                    d’accéder à notre réseau de partenaires sport et bien-être. Rejoignez-nous pour faire du sport le nouveau réflexe en
                    entreprise !Notre offre a déjà conquis des centaines d’entreprises dans le
                    secteur des startups .
                </p>

                <div class="text-pink">
                    En savoir plus sur l'offre Pro <span> <img src="../assets/svg/presentation/arrow2.svg" class="img-arrow"  alt=""> </span>
                </div>

            </div>
        </div>
        <div class="row div-vision">
            <div class="col col-md-7 block-vision">
                <h4 class="title">Notre vision</h4>
                <p>
                    Nous imaginons un monde où chaque personne aurait accès au sport et au bienêtre. Nous sommes convaincus que tous deux ont le pouvoir d'améliorer le quotidien et la santé de chacun.
                    Nous agissons pour que cet idéal devienne un réflexe pour tous les employeurs et un acquis pour tous les salariés.
                    Parce qu'une entreprise attractive est une entreprise soucieuse de la qualité de vie au travail qu'elle instaure.
                </p>
                <p class="para-second">
                    Les grandes idées n’apparaissent pas par magie. Elles proviennent d’individus et d’équipes qui ont le temps d’être productives, qui ont les compétences,
                    la créativité et l’enthousiasme pour faire leur travail. Autrement dit, 
                    le capital humain est devenu la source fondamentale de l’avantage compétitif et les  entreprises qui le gèrent soigneusement réussissent beaucoup mieux que  les autres.
                </p>
                <div class="text-pink">
                    Tout savoir sur notre vision <span> <img src="../assets/svg/presentation/arrow2.svg" class="img-arrow"  alt=""> </span>
                </div>
            </div>
            <div class="col col-md-5">
                <img src="../assets/svg/presentation/illustration6.svg" class="img-vision"  alt="">
            </div>
        </div>
        <div class="row logo-partners">
                <div class="col col-md-2">
                    <div class="img-logo"><img src="../assets/img/logoPartners/logo5.png" alt=""></div>
                </div>
                <div class="col col-md-2">
                    <div class="img-logo"><img src="../assets/img/logoPartners/logo1.png" alt=""></div>
                </div>
                <div class="col col-md-2">
                    <div class="img-logo"><img src="../assets/img/logoPartners/logo4.png" alt=""></div>
                </div>
                <div class="col col-md-2">
                    <div class="img-logo"><img src="../assets/img/logoPartners/logo1.png" alt=""></div>
                </div>
                <div class="col col-md-2">
                    <div class="img-logo"><img src="../assets/img/logoPartners/logo2.png" alt=""></div>
                </div>
                <div class="col col-md-2">
                    <div class="img-logo"><img src="../assets/img/logoPartners/logo3.png" alt=""></div>
                </div>
        </div>
    </div>
    <app-contact-form></app-contact-form>
</section>

