<section class="presentation" >
    <div class="padding-presentation">
        <section class="entet-acceuil">
            <div class="row overflow">
                <div class="col col-lg-6 col-md-9 text-presentation">
                    <div class="dis-table">
                        <div class="table-caption">
                            <h4 class="title-presentation">
                                Quelques lignes à propos <div> de Spotfit </div>    
                            </h4>
                            <p>
                                A travers nos nombreuses expériences dans le monde du sport, Spotfit a émergé et est devenu pour nous une nécessité qui permet aux passionnés de sport de profiter pleinement de leurs sessions, en répondant à leurs besoins d’instantanéité, de diversité et de suivi précis de leurs activités préférées.
                            </p>
                            <p class="fin-para">
                                Nous sommes certains que le sport donne à chacun la capacité de s’acquitter de ses tâches et son devoir de manière nettement plus efficace, en fournissant les moyens de gérer efficacement le potentiel enfoui.
                            </p>
                            <p class="fin-para">
                                Un corps sain favorise toujours un esprit sain davantage.
                            </p>                              
                        </div>
                    </div>
                </div>
                <div class="col col-lg-6 col-md-12 p-right marg-auto">
                    <img src="../assets/svg/presentation/illustration5.svg" class="img-text"  alt="">
                </div>
            </div>
        </section>
        <div class="row div-video">
            <div class="back-img">

            </div>
            <div class="col col-lg-8 col-md-9 p-video">
                <!-- <div class="height">
                </div> -->
                <div class="block-video">
                </div>
            </div>
            <div class="col col-lg-4 col-md-9 p-text-video">
                <h4 class="title no-padding">Notre mission</h4>
                <p>
                    L'essence de notre dévouement envers votre bien-être vient du désir d'offrir facilité et rapidité à chacun d'entre vous. Notre métier consiste à faire en sorte que vous puissiez vous entraîner sans avoir à vous soucier de tracas des procédures, en contrepartie d'une valeur ajoutée inestimable au bout de vos doigts.
                </p>
                <p class="fin-para">
                    Nous élargissons activement et rapidement notre portefeuille de lieux d’entraînement, d’activités et de véritables expériences sportives qui conviennent à votre goût.
                    
                </p>

                <div class="text-pink">
                    En savoir plus sur l'offre Pro <span> <img src="../assets/svg/presentation/arrow2.svg" class="img-arrow"  alt=""> </span>
                </div>

            </div>
        </div>
        <div class="row div-vision">
            <div class="col-12 col-lg-6 col-md-9  block-vision">
                <h4 class="title padTop">Notre vision</h4>
                <p>
                    Spotfit a été pensée, imaginée et conçue suite à des expériences personnelles vécues par son équipe fondatrice.
                </p>
                <p class="fin-para">
                    Nous imaginons un monde où chaque passionné de fitness pourra facilement accéder aux salles de sport, sans tracas, sans engagement, sur place, aux prix les plus avantageux.
                </p>
                <p class="fin-para">
                    Créé avec passion, Spotfit vient bouleverser l’univers du sport en révolutionnant les anciennes procédures d'adhésion contraignantes et coûteuses en apportant à ses utilisateurs un système des plus adaptatifs qui soient, avec des méthodes transparentes, flexibles et conviviales pour choisir et accéder à la salle de sport qui vous parle le plus.
                </p>
                <p class="fin-para">
                    Pour tout sportif étant avide de nouvelles expériences, de paix intérieure et de poussées d'adrénaline, nous avons adapté nos offres à chacun d’entre vous, avec des activités variées, de nombreux régimes de consommation, un système de suivi unique et combiné de sessions consommées et une équipe dynamique pour vous accompagner 24h/24, 7j/7, lors de vos expériences.                    
                </p>
                <div class="text-pink">
                    Tout savoir sur notre vision <span> <img src="../assets/svg/presentation/arrow2.svg" class="img-arrow"  alt=""> </span>
                </div>
            </div>
            <div class="col col-lg-6 col-md-12 p-right marg-auto pad-top">
                <img src="../assets/svg/presentation/illustration6.svg" class="img-text"  alt="">
            </div>
        </div>
        <div class="row logo-partners">
                <div class="col-6 col-md-4 col-lg-2">
                    <div class="img-logo"><img src="../assets/img/logoPartners/logo5.png" alt=""></div>
                </div>
                <div class="col-6 col-md-4 col-lg-2">
                    <div class="img-logo"><img src="../assets/img/logoPartners/logo1.png" alt=""></div>
                </div>
                <div class="col-6 col-md-4 col-lg-2">
                    <div class="img-logo"><img src="../assets/img/logoPartners/logo4.png" alt=""></div>
                </div>
                <div class="col-6 col-md-4 col-lg-2">
                    <div class="img-logo"><img src="../assets/img/logoPartners/logo1.png" alt=""></div>
                </div>
                <div class="col-6 col-md-4 col-lg-2">
                    <div class="img-logo"><img src="../assets/img/logoPartners/logo2.png" alt=""></div>
                </div>
                <div class="col-6 col-md-4 col-lg-2">
                    <div class="img-logo"><img src="../assets/img/logoPartners/logo3.png" alt=""></div>
                </div>
        </div>
    </div>
    <app-contact-form></app-contact-form>
</section>

