<section class="partner">
    <div class="padding-presentation">
        <div class="row">
            <div class="col col-md-5 text-business">
                <h4 class="title-partner">Grow your business<div> with Spotfit </div> </h4>
                <p>
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Mini dolori ex recusandae veritatis repellat molestiae error a non natus ratione, in quasn, saepe.
                     Natus maiores totam inventore rerum modi. Lorem ipsum dolor, sit amet consectetur adipisic elit.natus ratione, in quasn, saepe. Natus maiores totam inven rerum modi. Lorem ipsum dolor,
                      sit amet consectetur adipis elitNatus maiores totam inventore rerum modi. 
                </p>
                <div class="col-md-3 col-sm-3 div-btn">
                    <button class="btn ">Join the network</button>
                </div>
            </div>
            <div class="col col-md-7">
                <img class="img-text" src="../assets/svg/partner/illustration3.svg" alt="">
            </div>
        </div>  

    </div>
    <div class="partner-whit-us">
        <div class="row">
            <div class="col col-md-12">
                <div class="title-partner">
                    Partner with us and
                </div>
                <p> Lorem ipsum dolor sit amet consectetur, adipisicing elit. </p>
            </div>
            <div class="col col-md-4 text-center block">
                <div class="block-1">
                    <div class="img-svg">
                        <img src="../assets/svg/partner/attrac.svg"  alt="">
                    </div>
                    <div class="title">
                        <h4>Attract new customers</h4>
                    </div>
                    <p>
                        Lorem ipsum dolor sit amet consectetur ad elit. Id, quisquam maxime, aliquid quae om inaxi lectus dignissimos 
                    </p>
                </div>
            </div>
            <div class="col col-md-4 text-center block">
                <div class="block-2">
                    <div class="img-svg">
                        <img src="../assets/svg/partner/Increase.svg"  alt="">
                    </div>
                    <div class="title">
                        <h4>Increase your monthly revevue</h4>
                    </div>
                    <p>
                        Lorem ipsum dolor sit amet consectetur ad elit. Id, quisquam maxime, aliquid quae om inaxi lectus dignissimos  
                    </p>
                </div>
            </div>
            <div class="col col-md-4 text-center block">
                <div class="block-3">
                    <div class="img-svg">
                        <img src="../assets/svg/partner/Optimize.svg"  alt="">
                    </div>
                    <div class="title">
                        <h4>Optimize your business</h4>
                    </div>
                    <p>
                        Lorem ipsum dolor sit amet consectetur ad elit. Id, quisquam maxime, aliquid quae om inaxi lectus dignissimos  
                    </p>
                </div>
            </div>
        </div>  
    </div>
    <div class="row mx-0 partner-around">
        <div class="col col-md-5">
            <div class="title">
                Over 20,000+ partners <div>around the word</div>
            </div>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nostrum, iste ab? Voluptate consequatur ex aliquam fugiat impedit vel aperiam expe .</p>
        </div>
        <div class="col col-md-7">
            <div class="row m-top">
                <div class="col col-md-3"><img  src="../assets/img/logoPartners/logo5.png" alt=""></div>
                <div class="col col-md-3"><img  src="../assets//img/logoPartners/logo1.png" alt=""></div>
                <div class="col col-md-3"><img  src="../assets//img/logoPartners/logo4.png" alt=""></div>
                <div class="col col-md-3"><img  src="../assets//img/logoPartners/logo2.png" alt=""></div>
            </div>
            <div class="row m-top">
                <div class="col col-md-3"><img  src="../assets/img/logoPartners/logo1.png" alt=""></div>
                <div class="col col-md-3"><img  src="../assets//img/logoPartners/logo3.png" alt=""></div>
                <div class="col col-md-3"><img  src="../assets//img/logoPartners/logo4.png" alt=""></div>
                <div class="col col-md-3"><img  src="../assets//img/logoPartners/logo5.png" alt=""></div>
            </div>
            <div class="row m-top">
                <div class="col col-md-3"><img  src="../assets/img/logoPartners/logo5.png" alt=""></div>
                <div class="col col-md-3"><img  src="../assets//img/logoPartners/logo4.png" alt=""></div>
                <div class="col col-md-3"><img  src="../assets//img/logoPartners/logo3.png" alt=""></div>
                <div class="col col-md-3"><img  src="../assets//img/logoPartners/logo1.png" alt=""></div>
            </div>
        </div>
    </div>
    <div class="row mx-0 contact-us">
        <div class="col col-md-12">
            <div class="title text-center">
                Contact Us
            </div>
            <p class="text-center">
                Are you planning a project involving sport and wellbing?
            </p>
        </div>
        <div class="col col-md-6 m-bottom" >
            <div class="d-flex justify-content-center">
                <input type="text" class="form-control" placeholder="Quelle est votre Nom">
            </div>
        </div>
        <div class="col col-md-6">
            <div class="d-flex justify-content-center">
                <input type="text" class="form-control" placeholder="Quelle est votre Prénom">
            </div>
        </div>
        <div class="col col-md-6 m-bottom" >
            <div class="d-flex justify-content-center">
                <input type="text" class="form-control" placeholder="Quelle est votre Adresse Email">
            </div>
        </div>
        <div class="col col-md-6">
            <div class="d-flex justify-content-center">
                <input type="text" class="form-control" placeholder="Quelle est votre Téléphone">
            </div>
        </div>
        <div class="col col-md-12">
            <textarea  class="form-control" placeholder="Quelle est votre Message" rows="4"></textarea>
        </div>
    </div>
    <div class="row btn-svg mx-0">
        <div class="div-btn">
            <button class="btn ">Envoyer</button>
        </div>
        <div class="block-svg">
            <div class="img-svg">
                <img  src="../../assets/svg/illustration3.svg" alt="">
            </div>
        </div>
    </div>
</section>
