<section class="presentation" >

        
            <div class="bg-color-presentation">
                <section class="entet-acceuil">
                    <div class="padding-presentation">
                        <div class="row">
                            <div class="col col-lg-6 col-md-11 text-presentation">
                                <div class="dis-table">
                                    <div class="table-caption">
                                        <h4 class="title-presentation">
                                            Développez votre business <div> avec Spotfit </div>    
                                        </h4>
                                        <p class="pad-right">
                                            Vous êtes un établissement sportif et vous n’avez pas encore rejoint le réseau Spotfit ? Il n’est pas trop tard pour bien faire !
                                        </p>
                                        <p class="fin-para pad-right">
                                            Rejoignez notre réseau grandissant de salles de sport disponibles sur demande et bénéficiez d’une visibilité incomparable, d’offres uniques, de statistiques avancées, d’outils de personnalisation de Pass précis et divers, et bien plus encore.
                                        </p>  
                                        
                                        <div class="div-btn pad-right">
                                            <button class="btn ">Join the network</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col col-lg-6 col-md-12 p-right marg-auto">
                                <img src="../assets/svg/partner/illustration3.svg" class="img-text"  alt="">
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        <div class="padding-presentation">
            <div class="partner-whit-us">
                <div class="row pad-block">
                    <div class="col-12 col-md-12 row-devenez-partenaire ">
                        <div class="title ">
                            Devenez partenaire 
                        </div>
                        <p class="text-center pad-top-para"> et jouissez d’avantages jamais vus auparavant </p>
                    </div>
                    <div class="col-12 col-md-4 text-center block">
                        <div class="block-1">
                            <div class="img-svg">
                                <img src="../assets/svg/partner/attrac.svg"  alt="">
                            </div>
                            <div class="title-para">
                                <h4>Attirez de nouveaux clients</h4>
                            </div>
                            <p>
                                Spotfit vous procure l’accès à un flux important de clientèles grand public, d’entreprise et estudiantine. Préparez-vous à accueillir une clientèle avide de nouvelles expériences.                        </p>
                        </div>
                    </div>
                    <div class="col-12 col-md-4 text-center block">
                        <div class="block-2">
                            <div class="img-svg">
                                <img src="../assets/svg/partner/Increase.svg"  alt="">
                            </div>
                            <div class="title-para">
                                <h4>Augmentez votre revenu journalier, mensuel et annuel</h4>
                            </div>
                            <p>
                                Trafic accru, offre maîtrisée dans l’immédiat, accessibilité augmentée, statistiques inestimables ; la recette secrète pour un plus grand chiffre d’affaires !
                            </p>
                        </div>
                    </div>
                    <div class="col col-md-4 text-center block">
                        <div class="block-3">
                            <div class="img-svg">
                                <img src="../assets/svg/partner/Optimize.svg"  alt="">
                            </div>
                            <div class="title-para">
                                <h4>Optimize your business</h4>
                            </div>
                            <p>
                                Cadrez votre enseigne par les outils uniques proposés par Spotfit. Profitez d’une visibilité de qualité en plus d’une vision plus détaillée sur l’écosystème sportif marocain.
                            </p>
                        </div>
                    </div>
                </div>  
            </div> 
        </div>
    

    <div class="row mx-0 partner-around">
        <div class="padding-presentation pad-partner-around">
            <div class="row mx-auto">
                <div class="col-12 col-md-11 col-lg-5 mx-center">
                    <div class="title float-left title-around-top">
                        Over 20,000+ partners <div>around the word</div>
                    </div>
                    <p class="float-left padd-right pad-top-para">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nostrum, iste ab? Vol upt ate co nse qua tur ex aliquam fugiat impedit vel aperiam expe .</p>
                </div>
                <div class="col-12 col-md-11 col-lg-7 translate-x mx-center">
                    <div class="carousel slide" data-ride="carousel" data-type="multi" id="myCarousel">
                          <!-- Indicators -->
                          <ol class="carousel-indicators">
                            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                            <li data-target="#myCarousel" data-slide-to="1"></li>
                            <li data-target="#myCarousel" data-slide-to="2"></li>
                          </ol>
                      
                          <!-- Wrapper for slides -->
                          <div class="carousel-inner">
                            <div class="item active">
                                <div class="row m-top">
                                    <div class="col-6 col-sm-3  col-md-3 "><img  src="../assets/img/logoPartners/logo5.png" alt=""></div>
                                    <div class="col-6 col-sm-3  col-md-3"><img  src="../assets//img/logoPartners/logo1.png" alt=""></div>
                                    <div class="col-6 col-sm-3  col-md-3"><img  src="../assets//img/logoPartners/logo4.png" alt=""></div>
                                    <div class="col-6 col-sm-3  col-md-3"><img  src="../assets//img/logoPartners/logo2.png" alt=""></div>
                                </div>
                                <div class="row m-top">
                                    <div class="col-6 col-sm-3  col-md-3"><img  src="../assets/img/logoPartners/logo1.png" alt=""></div>
                                    <div class="col-6 col-sm-3  col-md-3"><img  src="../assets//img/logoPartners/logo3.png" alt=""></div>
                                    <div class="col-6 col-sm-3  col-md-3"><img  src="../assets//img/logoPartners/logo4.png" alt=""></div>
                                    <div class="col-6 col-sm-3  col-md-3"><img  src="../assets//img/logoPartners/logo5.png" alt=""></div>
                                </div>
                                <div class="row m-top">
                                    <div class="col-6 col-sm-3  col-md-3"><img  src="../assets/img/logoPartners/logo5.png" alt=""></div>
                                    <div class="col-6 col-sm-3  col-md-3"><img  src="../assets//img/logoPartners/logo4.png" alt=""></div>
                                    <div class="col-6 col-sm-3  col-md-3"><img  src="../assets//img/logoPartners/logo3.png" alt=""></div>
                                    <div class="col-6 col-sm-3  col-md-3"><img  src="../assets//img/logoPartners/logo1.png" alt=""></div>
                                </div>
                            </div>
                      
                            <div class="item">
                                <div class="row m-top">
                                    <div class="col-6 col-sm-3  col-md-3"><img  src="../assets/img/logoPartners/logo5.png" alt=""></div>
                                    <div class="col-6 col-sm-3  col-md-3"><img  src="../assets//img/logoPartners/logo1.png" alt=""></div>
                                    <div class="col-6 col-sm-3  col-md-3"><img  src="../assets//img/logoPartners/logo4.png" alt=""></div>
                                    <div class="col-6 col-sm-3  col-md-3"><img  src="../assets//img/logoPartners/logo2.png" alt=""></div>
                                </div>
                                <div class="row m-top">
                                    <div class="col-6 col-sm-3  col-md-3"><img  src="../assets/img/logoPartners/logo1.png" alt=""></div>
                                    <div class="col-6 col-sm-3  col-md-3"><img  src="../assets//img/logoPartners/logo3.png" alt=""></div>
                                    <div class="col-6 col-sm-3  col-md-3"><img  src="../assets//img/logoPartners/logo4.png" alt=""></div>
                                    <div class="col-6 col-sm-3  col-md-3"><img  src="../assets//img/logoPartners/logo5.png" alt=""></div>
                                </div>
                                <div class="row m-top">
                                    <div class="col-6 col-sm-3  col-md-3"><img  src="../assets/img/logoPartners/logo5.png" alt=""></div>
                                    <div class="col-6 col-sm-3  col-md-3"><img  src="../assets//img/logoPartners/logo4.png" alt=""></div>
                                    <div class="col-6 col-sm-3  col-md-3"><img  src="../assets//img/logoPartners/logo3.png" alt=""></div>
                                    <div class="col-6 col-sm-3  col-md-3"><img  src="../assets//img/logoPartners/logo1.png" alt=""></div>
                                </div>
                            </div>
                          
                            <div class="item">
                                <div class="row m-top">
                                    <div class="col-6 col-sm-3  col-md-3"><img  src="../assets/img/logoPartners/logo5.png" alt=""></div>
                                    <div class="col-6 col-sm-3  col-md-3"><img  src="../assets//img/logoPartners/logo1.png" alt=""></div>
                                    <div class="col-6 col-sm-3  col-md-3"><img  src="../assets//img/logoPartners/logo4.png" alt=""></div>
                                    <div class="col-6 col-sm-3  col-md-3"><img  src="../assets//img/logoPartners/logo2.png" alt=""></div>
                                </div>
                                <div class="row m-top">
                                    <div class="col-6 col-sm-3  col-md-3"><img  src="../assets/img/logoPartners/logo1.png" alt=""></div>
                                    <div class="col-6 col-sm-3  col-md-3"><img  src="../assets//img/logoPartners/logo3.png" alt=""></div>
                                    <div class="col-6 col-sm-3  col-md-3"><img  src="../assets//img/logoPartners/logo4.png" alt=""></div>
                                    <div class="col-6 col-sm-3  col-md-3"><img  src="../assets//img/logoPartners/logo5.png" alt=""></div>
                                </div>
                                <div class="row m-top">
                                    <div class="col-6 col-sm-3  col-md-3"><img  src="../assets/img/logoPartners/logo5.png" alt=""></div>
                                    <div class="col-6 col-sm-3  col-md-3"><img  src="../assets//img/logoPartners/logo4.png" alt=""></div>
                                    <div class="col-6 col-sm-3  col-md-3"><img  src="../assets//img/logoPartners/logo3.png" alt=""></div>
                                    <div class="col-6 col-sm-3  col-md-3"><img  src="../assets//img/logoPartners/logo1.png" alt=""></div>
                                </div>
                            </div>
                          </div>
                      
                          <!-- Left and right controls -->
                          <a class=" carousel-control" href="#myCarousel" data-slide="prev">
                          </a>
                          <a class=" carousel-control" href="#myCarousel" data-slide="next">
                          </a>
                        </div>
                </div>
            </div>
        </div>
    </div>

    <div class="padding-presentation">
        <div class="row mx-0 contact-us">
            <div class="col-12 col-md-12 pad-bot-contact-us">
                <div class="title text-center">
                    Contact Us
                </div>
                <p class="text-center">
                    Are you planning a project involving sport and wellbing?
                </p>
            </div>
            <div class="col-12 col-md-6 m-bottom contact-us-bottom" >
                <div class="d-flex justify-content-center">
                    <input type="text" class="form-control" placeholder="Quelle est votre Nom">
                </div>
            </div>
            <div class="col-12 col-md-6 contact-us-bottom">
                <div class="d-flex justify-content-center">
                    <input type="text" class="form-control" placeholder="Quelle est votre Prénom">
                </div>
            </div>
            <div class="col-12 col-md-6 m-bottom contact-us-bottom" >
                <div class="d-flex justify-content-center">
                    <input type="text" class="form-control" placeholder="Quelle est votre Adresse Email">
                </div>
            </div>
            <div class="col-12 col-md-6 contact-us-bottom">
                <div class="d-flex justify-content-center">
                    <input type="text" class="form-control" placeholder="Quelle est votre Téléphone">
                </div>
            </div>
            <div class="col-12 col-md-12 contact-us-bottom">
                <textarea  class="form-control" placeholder="Quelle est votre Message" rows="4"></textarea>
            </div>
            <div class="col-12 col-md-12 div-btn contact-us-bottom">
                <button class="btn ">Envoyer</button>
            </div>
        </div>
        <div class="row btn-svg mx-0">
            <div class="col-12 col-12 ">
                <div class="block-svg">
                    <div class="img-svg">
                        <img  src="../../assets/svg/illustration3.svg" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>

   

</section>

