<section class="global-coop" id="acceuil">

    <section class="presentationn" >
        <div class="padding-presentation">
            <section>
                <section class="coop-1 py-5">
                    <div class="row mx-0 mw-100 ms-85">
                        <div class="col-md-6 grp-cp1 wow slideInLeft presentation" data-wow-duration="1.5s" data-wow-delay="0.4s">
                            <div  class="aligner-block">
                                <h2 class="font-weight-bold titre-pg" >Libérez l'énergie de </h2>
                                <h2 class="font-weight-bold titre-pg titre-pres" style="width: max-content ;">votre équipe avec Spotfit</h2>       
                                <p class="pargraphe py-2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil utqu od qu is quam
                                    perferendis velit sunt est
                                    rerum, eum, ea distinctio com mo di do l ores dolore at pariatur fugit eveniet. Aperiam, iusto molestias?</p>
                                <form action="" class="form-coop rounded shadow d-flex justify-content-between p-1 ms-37">
                                    <input class="border-0 zn-tx bg-transparent" type="text" name="" id="" placeholder="Votre email ...">
                                    <button class="btn btn-light p-2 btn-pers"> Découvrir Spotfit </button>
                                </form>
                            </div>
                        </div>
                        <div class="col-md-6 wow slideInRight m-auto blk-prenst" data-wow-duration="1.5s" data-wow-delay="0.1s" >
                            <div class="image-presentation">
                                <img src="../../assets/images/coop1.png" alt="" class="img-fluid img-illust1 image-default">                
                                <img src="../../assets/images/coop1n.png" alt="" class="img-fluid img-illust1 image-dark">
                            </div>
                        </div>
                    </div>
                </section>
            </section>
        </div>
        <app-contact-form></app-contact-form>
    </section>
</section>

