@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans|Roboto:500&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');


$roboto: 'Roboto', sans-serif;
$open-sans : 'Open Sans', sans-serif;

:root{
    --paragraphe-default: #8c8fa9;
    --paragraphe-dark: #ffffff;

    --title-default: #373956;
    --title-dark: #ffffff;

    --background-defaut: #ffffff;
    --background-dark : #000000;

    --background-blck : #ffffff ;
    --background-blck-p :  #f8f7fb ;

    --image-default : block ;
    --image-dark : none ;

    --svg-md : #373956 ;
    --shadow-mod : 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) ;

    --white-01 : #5A5975 ;

    --gray-01 : #dbdbe2 ;

    --background-image : linear-gradient(90deg, #ffffff 0%, #d1d3db 53%, #ffffff 100%) ;

    --gray-02 : #6b6d88 ;

    --gray-03 : #9395a9 ;

    --black-01 :#2E8B57 ;

    --border-indicator : #eeecf4 ;

    --back-indicator :#fff;

    --gray-04 : #f0eef6 ;

    --gray-05 : #b9b6c2 ;

    --white : #fff,
 }

 .image-default{
    display: var(--image-default) ;
 }

 .image-dark{
    display: var(--image-dark) ;
}


.global-coop{
 background-color: var(--background-defaut) ;
 h2,h4{
    font-family: $roboto;
    font-weight: 900;
}
p{
    font-family: $open-sans;
}
}
.presentationn{
    .entet-acceuil{
     padding-top: 11.5rem;
     
    }
    .padding-presentation{
        width:100% ;
        //block Libérez l'énergie
        .titre-pres{
            margin-top:10px;
            margin-bottom: 20px;
        }
        .titre-pg{
            color: var(--title-default);
        }
        h2{
            font-size: 38px;
        }
        .coop-1{
            padding-top: 12.3rem !important;
        }
        .aligner-block{
            display: table-caption;
        }
        .pargraphe{
        color: var(--paragraphe-default);
        line-height: 1.9;
        font-size: 14px;
        margin-bottom: 20px;
        letter-spacing: .5px;;
        }
        .presentation{
            padding-left: 3.5rem;
            padding-right: 2rem;
            margin: auto;
        }
        .form-coop{
            background-color: var(--background-blck);
        }
        .zn-tx{
            outline: none ;
            color : var(--paragraphe-default);
            font-size: 11px;
            width: 65%;
            padding-left: 22px;
            letter-spacing: .5px;
        }

        .btn-pers{
            color: #ffffff;
            font-family: $open-sans;
            height: 49px;
            font-size: 11.5px;
            background-image: linear-gradient(79deg, #cb7bc3 0% , #553397 100%);
            border-radius: 6px;
            outline: none ;
            width: 35%;
            letter-spacing: 1.2px;
            border: none;
        }
        .shadow {
            box-shadow: 0px 17px 23px rgba(4, 8, 79, 0.09) !important;
        }
        .grp-cp1{
            padding-left:6%;
            padding-right:15px;
            ::placeholder {
                color:  var(--paragraphe-default);
                opacity: 0.6;
            }
        }
        .blk-prenst{
            padding-right: 0;
            padding-left: 0;
        }

    }
}
@media screen and (max-width : 1300px){
    .padding-presentation{
    
    }
}

@media screen and (max-width : 991px){
    .padding-presentation{
        width: 90% !important;
    }
}
@media screen and (max-width : 1200px) and (min-width : 992px){
    .padding-presentation{
        width: 90% !important;
    }
}

@media screen and (max-width : 1100px)  and (min-width : 992px) {
    .padding-presentation{

    }
}

@media screen and (max-width : 1050px)  and (min-width : 992px){
    .padding-presentation{

    }
}

@media screen and (max-width : 768px){
    .padding-presentation{

    }
}
@media screen and (max-width : 560px){
    .padding-presentation{

    }
}


@media screen and (max-width : 460px){
    .padding-presentation{

    }
}

@media screen and (max-width : 360px){
    .padding-presentation{

    }
}

@media screen and (max-width : 340px){
    .padding-presentation{

    }
}

@media screen and (min-width : 1400px){
    .padding-presentation{

    }
}
@media screen and (min-width : 1600px){
    .padding-presentation{
        width:1400px !important;
        margin-left:auto !important;
        margin-right:auto !important;
    }
    
}


@media screen and (min-width : 2000px){
    .padding-presentation{
        width:1700px !important;
        margin-left:auto !important;
        margin-right:auto !important;
    }
}

@media screen and (min-width : 2400px){
    .padding-presentation{
        width:2000px !important;
        margin-left:auto !important;
        margin-right:auto !important;
    }
}

