<section class="acceuil">
<section class="entet-acceuil">

    <div class="row mx-0">
        <div class="col-lg-5 blck-paragraphe">
            <div class="blck-titre">                
                <h1 class="titre-acceuil">Trouvez la salle de</h1>
                <h1 class="titre-acceuil">sport ou de <span class="effect-titre">bien-être</span>  </h1>
                <h1 class="titre-acceuil">qui vous convient le mieux</h1>
            </div>            
            <p class="text-acceuil">Découvrez de multiples activités à proximité et optez pour l’offre qui vous convient le mieux,
                 sans engagement, sans frais supplémentaires et au rythme qui vous correspond.
            </p>
           <P class="text-acceuil-1">Musculation, Crossfit, Pilates, Yoga, Natation, …</P> 
        </div>
        <div class="col-lg-7 bg-dark rounded v-home">
            
        </div>
    </div>


</section>
<section class=" Partenaire-ac " >
    <h5 class="tl-prt">Ils nous ont fait confiance :</h5>
    <div class=" d-flex  rounded mx-auto ovr-scrl lst-prt">
        
            <img src="../../assets/par/1.png" alt="" class="img-part">
            <img src="../../assets/par/2.png" alt="" class="img-part"> 
            <img src="../../assets/par/3.png" alt="" class="img-part">
            <img src="../../assets/par/4.png" alt="" class="img-part">
            <img src="../../assets/par/5.png" alt="" class="img-part">
            <img src="../../assets/par/6.png" alt="" class="img-part">
            <img src="../../assets/par/7.png" alt="" class="img-part">            
            <img src="../../assets/par/3.png" alt="" class="img-part">            
            <img src="../../assets/par/2.png" alt="" class="img-part"> 
            <img src="../../assets/par/1.png" alt="" class="img-part">
                    
    </div>
    
</section>
<section class="apropos">
    <div class="container-apropos">
        <h3 class="titre-apropos">à Propos de Spotfit</h3>
        <div class="blck-text-aprop">
            <p class="text-apropos">Créé avec passion, Spotfit vient bouleverser l’univers du sport en révolutionnant 
                les anciennes procédures d'adhésion contraignantes et coûteuses en apportant à ses utilisateurs un système des plus 
                adaptatifs qui soient, avec des méthodes transparentes, flexibles et conviviales pour choisir et accéder à la salle de sport 
                qui vous parle le plus.</p>
            <p class="text-apropos">
                Pour tout sportif étant avide de nouvelles expériences, de paix intérieure et de poussées d'adrénaline, 
                nous avons adapté nos offres à chacun d’entre vous, avec : </p>
        </div>            
    </div>
    <div class="row blck-apropos">
        <div class="col-lg-4 apro-bg">
            <h4 class="tl-apropos clr-a-vert">Plusieurs établissements de fitness et de bien-être filtrés et classés </h4>  
            <p class="info-apropos">Silver, Gold, Platinum</p>                 
        </div>
        <div class="col-lg-4 apro-bg2">
            <h4 class="tl-apropos clr-a-bleu">Plusieurs activités variées à proximité</h4>  
            <p class="info-apropos"> où que vous soyez</p>                      
        </div>
        <div class="col-lg-4 apro-bg3">
            <h4 class="tl-apropos clr-a-violet">Plusieurs types de sessions consommables</h4>   
            <p class="info-apropos">par jour, par mois, par an</p>                   
        </div>
    </div>    
    <div class="row blck-apropos">
        <div class="col-lg-4 apro-bg">
            <h4 class="tl-apropos clr-a-vert">Plusieurs régimes de sessions</h4>
            <p class="info-apropos">Simple limité à l’établissement choisi, ou Partout pour une liberté totale au sein d’une même classe</p>           
        </div>
        <div class="col-lg-4 apro-bg2">
            <h4 class="tl-apropos clr-a-bleu">un système de suivi unique et combiné de sessions consommées </h4>
            <p class="info-apropos">De cours réservés à ce jour</p>            
        </div>
        <div class="col-lg-4 apro-bg3">
            <h4 class="tl-apropos clr-a-violet">une équipe dynamique pour vous accompagner 24h/24, 7j/7</h4>
            <p class="info-apropos"> lors de vos expériences</p>            
        </div>
    </div>
</section>
<section class="offre">
    <div>
        <h3 class="titre-offre">Notre offre</h3>
        <!-- <p class="description-offre">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Perferendis!</p>         -->
    </div>
    <div class="d-flex justify-content-around">
        <div class="blck-info">
            <div class="offre-img">
                <img class="img-offre" src="../../assets/home/pilier/icon1.svg" alt="">
            </div>            
            <h5 class="tl-offre text-center">Pass Partout</h5>
            <h6 class="tl-offre1 text-center">Un abonnement qui donne accès à toutes les partenaires</h6>
            <p class="texte-offre text-center">Pass 30 : Abonnement qui vous permet un accès d’<b>un mois</b> à toutes les salles partenaires sur tout Casablanca</p>
        </div>
        <div class="blck-info">
            <div class="offre-img">
                <img class="img-offre" src="../../assets/home/pilier/icon2.svg" alt="">
            </div>            
            <h5 class="tl-offre text-center">Pass Simple</h5>
            <h6 class="tl-offre1 text-center">Un abonnement qui donne accès à une salle et celles de la même enseigne</h6>            
            <p class="texte-offre text-center">Pass 24: Pass qui vous permet un accès de <b>24 heures</b> à la salle de votre choix.</p>
            <p class="texte-offre text-center">Pass 30 : Pass qui vous permet un accès d’<b>1 mois</b> à la salle de votre choix.</p>
            <p class="texte-offre text-center">Pass 365 : Pass qui vous permet un accès d’<b>1 an</b> à la salle de votre choix.</p>
        </div>
        <div class="blck-info">
            <div class="offre-img">
                <img class="img-offre" src="../../assets/home/pilier/icon3.svg" alt="">
            </div>            
            <h5 class="tl-offre text-center">Pass Dédié</h5>
            <h6 class="tl-offre1 text-center">Un abonnement qui donne accès à tous nos partenaires</h6>   
            <p class="texte-offre text-center">Pass permettant un accès personnalisé et sur mesure.</p> 
            <p class="texte-offre text-center">Ce Pass permet à tout utilisateur de bénéficier d’un encadrement adapté en fonction des objectifs de chacun (Santé, perfectionnement, performance).</p>
            <p class="texte-offre text-center">Exemple : Coaching individuel ou en petit groupe.</p> 
        </div>
    </div>
</section>
<section class="ca-marche">
    <div>
        <h2 class="titre-ca-marche">Comment ca marche</h2>
        <p class="text-ca-marche">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam optio ratione tempore quibusdam hic, voluptatibus cumque?</p>
    </div>    
    <div class="row py-4">
        <div class="col-lg-6 m-auto">
            <div class=" blck-text-ca-marche">
                <h5 class="tl-ca-marche">1. Découvrez les salles proches de vous</h5>
                <p class="pargh-ca-marche">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Et odit officiis adipisci aliquid architecto cum soluta explicabo natus. Iusto nam consequatur dolor 
                quisquam tenetur nemo unde blanditiis nihil optio incidunt perferendis illum illo, sequi, deleniti numquam ipsum?</p>
            </div>            
        </div>
        <div class="col-lg-6">
            <img src="../../assets/home/illustration6.svg" alt="">
        </div>
    </div>
    <div class="row py-4">
        <div class="col-lg-6">
            <img src="../../assets/home/illustration5.svg" alt="">
        </div>
        <div class="col-lg-6  m-auto">
            <div class=" blck-text-ca-marche" style="padding: 0rem 0rem 3rem 4rem;">
                <h5 class="tl-ca-marche">2. Choisissez la salle de votre choix et votre type de pass</h5>
                <p class="pargh-ca-marche mb-0">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Et odit officiis adipisci aliquid architecto cum soluta explicabo natus. Iusto nam consequatur dolor 
                    quisquam tenetur nemo unde blanditiis nihil optio incidunt perferendis illum illo, sequi, deleniti numquam ipsum?</p>
            </div>           
        </div>
    </div>
    <div class="row py-4">
        <div class="col-lg-6 m-auto">
            <div class=" blck-text-ca-marche">
                <h5 class="tl-ca-marche">3. Sélectionnez votre moyen de paiement, et dirigez vous vers la salle pour vous éclater</h5>
            <p class="pargh-ca-marche">Lorem ipsum dolor, aliquid architecto cum soluta explicabo natus. Iusto nam consequatur dolor 
                quisquam tenetur nemo unde blanditiis nihil optio incidunt perferendis illum illo, sequi, deleniti numquam ipsum?</p>
            </div>            
        </div>
        <div class="col-lg-6">
            <img src="../../assets/home/illustration3.svg" alt="" style="margin-bottom: 1.5rem;">
        </div>
    </div>
</section>
<section class="activites">
    <div class="entet-activite">
        <h4 class="titre-activit">Nos Activités</h4>
        <p class="text-activit">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Maxime!</p>
    </div>    
</section>
<section class="blck-activite">
    <div class="d-flex" style="justify-content: space-around;">
        <div class="ctn-actvt">
            <div class="text-center">
                <img src="../../assets/home/icon1.svg" alt="" class="img-activite">
            </div>            
            <span class="text-center spn-actvt">Akido</span>
        </div>
        <div class="ctn-actvt" style="margin-left: 0.5rem;">
            <div class="text-center">
                <img src="../../assets/home/icon2.svg" alt="" class="img-activite" style="width: 69px;">
            </div>            
            <span class="text-center spn-actvt">Body Attack</span>
        </div>
        <div class="ctn-actvt">
            <div class="text-center">
                <img src="../../assets/home/icon3.svg" alt="" class="img-activite">
            </div>            
            <span class="text-center spn-actvt">Body Pump</span>
        </div>
    </div>
    <div class="d-flex" style="justify-content: space-around; padding-top: 4.1rem;">
        <div class="ctn-actvt">
            <div class="text-center">
                <img src="../../assets/home/icon4.svg" alt="" class="img-activite" style="width: 63px;">
            </div>            
            <span class="text-center spn-actvt2">Yoga</span>
        </div>
        <div class="ctn-actvt" style="margin-right: 2.5rem;">
            <div class="text-center">
                <img src="../../assets/home/icon5.svg" alt="" class="img-activite" style="width: 63px;">
            </div>            
            <span class="text-center spn-actvt2">Biking</span>
        </div>
        <div class="ctn-actvt">
            <div class="text-center">
                <img src="../../assets/home/icon6.svg" alt="" class="img-activite" style="height: 85px;">
            </div>            
            <span class="text-center spn-actvt3">Dance</span>
        </div>
    </div>
</section>
<section class="partenaria" >
    <div class="container">
        <div class="row" style="padding: 2rem 0;">
            <div class="col-lg-5 m-auto">
                <h4 class="titre-partner">Vous êtes une entreprise ?</h4>
                <div class="blck-text-partner">
                    <p class="text-partner">Les entreprises peuvent bénéficier d'offres spéciales et ainsi garantir à leurs employés 
                        des séances à prix réduits, des performances supérieures, une meilleure humeur, une réduction drastique de 
                        l'absentéisme et une carrière plus prospère. </p>
                    <p class="text-partner">    Si votre entreprise n’est pas encore cliente et que vous souhaitez 
                        une offre Spotfit Pro adaptée, vous pouvez en faire la proposition à votre département RH et entrer en contact 
                        avec un représentant de Spotfit afin de mieux évaluer votre besoin.</p>  
                </div>                   
                <div class="d-flex">
                    <a class="lien-partner">En savoir plus sur Spotfit Pro</a>
                    <svg class="svg-icn"  viewBox="0 0 17.99 16.99"><defs><style>.cls-1{isolation:isolate;}.cls-arrow{fill:#8b54b0}</style></defs><title>arrow</title><g id="Layer_2" data-name="Layer 2"><g id="Rectangle_25_copie_2" data-name="Rectangle 25 copie 2" class="cls-1"><g id="Rectangle_25_copie_2-2" data-name="Rectangle 25 copie 2"><path class="cls-arrow" d="M18,8.5,7.87,0A23.58,23.58,0,0,1,9.56,8.07,29.55,29.55,0,0,1,7.87,17Z"/></g></g><g id="Rectangle_26_copie_2" data-name="Rectangle 26 copie 2" class="cls-1"><g id="Rectangle_26_copie_2-2" data-name="Rectangle 26 copie 2"><polygon class="cls-arrow" points="3.37 6.8 0 10.2 14.87 10.2 14.87 6.8 3.37 6.8"/></g></g></g></svg>
                </div>
                <div class="d-flex blck-lien-prtner">
                    <a class="lien-partner">En savoir plus sur Spotfit Focus</a>
                    <svg class="svg-icn"  viewBox="0 0 17.99 16.99"><defs><style>.cls-1{isolation:isolate;}.cls-arrow{fill:#8b54b0}</style></defs><title>arrow</title><g id="Layer_2" data-name="Layer 2"><g id="Rectangle_25_copie_2" data-name="Rectangle 25 copie 2" class="cls-1"><g id="Rectangle_25_copie_2-2" data-name="Rectangle 25 copie 2"><path class="cls-arrow" d="M18,8.5,7.87,0A23.58,23.58,0,0,1,9.56,8.07,29.55,29.55,0,0,1,7.87,17Z"/></g></g><g id="Rectangle_26_copie_2" data-name="Rectangle 26 copie 2" class="cls-1"><g id="Rectangle_26_copie_2-2" data-name="Rectangle 26 copie 2"><polygon class="cls-arrow" points="3.37 6.8 0 10.2 14.87 10.2 14.87 6.8 3.37 6.8"/></g></g></g></svg>
                </div>     
                
            </div>
            <div class="col-lg-7">
                <img src="../../assets/home/illustration4.svg" alt="">
            </div>
        </div>
        <div class="row" style="padding:2.5rem 0rem 1rem">
            <div class="col-lg-7">
                <img src="../../assets/home/illustration1.svg" alt="">
            </div>
            <div class="col-lg-5 m-auto">
                <h4 class="titre-partner">Devenez un partenaire sport </h4>
                <div class="blck-text-partner">
                <p class="text-partner">Vous êtes un établissement sportif et vous n’avez pas encore rejoint le réseau Spotfit ? </p>
                <p class="text-partner"> Il n’est pas trop tard pour bien faire ! </p>
                <p class="text-partner">   Rejoignez notre réseau grandissant de salles de sport disponibles sur 
                    demande et bénéficiez d’une visibilité incomparable, d’offres uniques, de statistiques avancées, d’outils de 
                    personnalisation de Pass précis et divers, et bien plus encore.</p>
                </div>    
                <a class="lien-partner">En savoir plus</a>
                <svg class="svg-icn"  viewBox="0 0 17.99 16.99"><defs><style>.cls-1{isolation:isolate;}.cls-arrow{fill:#8b54b0}</style></defs><title>arrow</title><g id="Layer_2" data-name="Layer 2"><g id="Rectangle_25_copie_2" data-name="Rectangle 25 copie 2" class="cls-1"><g id="Rectangle_25_copie_2-2" data-name="Rectangle 25 copie 2"><path class="cls-arrow" d="M18,8.5,7.87,0A23.58,23.58,0,0,1,9.56,8.07,29.55,29.55,0,0,1,7.87,17Z"/></g></g><g id="Rectangle_26_copie_2" data-name="Rectangle 26 copie 2" class="cls-1"><g id="Rectangle_26_copie_2-2" data-name="Rectangle 26 copie 2"><polygon class="cls-arrow" points="3.37 6.8 0 10.2 14.87 10.2 14.87 6.8 3.37 6.8"/></g></g></g></svg>                
            </div>
        </div>
    </div>
</section>
<section class="formulair">
    <div class="d-flex blck-frm" >
        <div>

        </div>
        <div class="blck-formulair" style="width: 41%; padding: 0rem 0rem 6rem;">
            <p class="lbl-frm" style="padding: 1rem 0;">Notre équipe est à votre disposition 24h/24, 7j/7.</p>
            <form action="" class="d-flex">
                <input type="text" placeholder="Votre Adresse Email" class="znt-frm" style="width: 66%;margin-right: 2rem;">
                <button class="btn-formulair">Envoyer</button>
            </form>
        </div>        
        <div style="z-index: 999;">
            <img src="../../assets/home/home-f.png" alt="" class="img-frm" >
        </div>           
        
    </div>    
</section>
</section>
