<section class="acceuil">
<section class="entet-acceuil">

    <div class="row mx-0">
        <div class="col-lg-4 blck-paragraphe">
            <h1 class="titre-acceuil">Trouvez votre activité sport ou bien-être</h1>
            <p class="text-acceuil">Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis veniam laudantium nobis molestiae excepturi voluptatem esse corrupti dolore quam ad.</p>
        </div>
        <div class="col-lg-8 bg-dark">
            <img src="" alt="">
        </div>
    </div>


</section>
<section class="apropos">
    <div class="container-apropos">
        <h3 class="titre-apropos">A Propos de Spotfit</h3>
        <p class="text-apropos">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt maiores non sed perspiciatis quasi dolorem repellat. Molestias, delectus! Quae nihil qui enim 
            obcaecati deserunt. Corrupti, qui natus eos expedita voluptas magnam omnis sint neque esse.</p>
    </div>
    <div class="d-flex blck-apropos">
        <div>
            <h4 class="tl-apropos clr-a-vert">90% Menbres</h4>
            <p class="info-apropos">Ont essayé une nouvelle activité</p>           
        </div>
        <div>
            <h4 class="tl-apropos clr-a-bleu">+70 Millions</h4>
            <p class="info-apropos">De cours réservés à ce jour</p>            
        </div>
        <div>
            <h4 class="tl-apropos clr-a-violet">+214 000 Cours</h4>
            <p class="info-apropos">Cours à essayer</p>            
        </div>
    </div>
</section>
<section class="offre">
    <div>
        <h3 class="titre-offre">Notre offre</h3>
        <p class="description-offre">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Perferendis!</p>        
    </div>
    <div class="d-flex justify-content-around">
        <div class="blck-info">
            <div class="offre-img">
                <img class="img-offre" src="../../assets/t-SVG/icon2.svg" alt="">
            </div>            
            <h5 class="tl-offre text-center">L'abonnement</h5>
            <p class="texte-offre text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus dolor
                 optio quaerat totam nam, fugit voluptates.</p>
        </div>
        <div class="blck-info">
            <div class="offre-img">
                <img class="img-offre" src="../../assets/t-SVG/icon1.svg" alt="">
            </div>            
            <h5 class="tl-offre text-center">Les Ateliers</h5>
            <p class="texte-offre text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus dolor
                 optio quaerat totam nam, fugit voluptates.</p>
        </div>
        <div class="blck-info">
            <div class="offre-img">
                <img class="img-offre" src="../../assets/t-SVG/icon3.svg" alt="">
            </div>            
            <h5 class="tl-offre text-center">Le Suivi</h5>
            <p class="texte-offre text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus dolor
                 optio quaerat totam nam, fugit voluptates.</p>
        </div>
    </div>
</section>
<section class="ca-marche">
    <div>
        <h2 class="titre-ca-marche">Comment ca marche</h2>
        <p class="text-ca-marche">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam optio ratione tempore quibusdam hic, voluptatibus cumque?</p>
    </div>    
    <div class="row py-4">
        <div class="col-lg-6">
            <h5 class="tl-ca-marche">1. Découvrez les salles proches de vous</h5>
            <p class="pargh-ca-marche">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Et odit officiis adipisci aliquid architecto cum soluta explicabo natus. Iusto nam consequatur dolor 
                quisquam tenetur nemo unde blanditiis nihil optio incidunt perferendis illum illo, sequi, deleniti numquam ipsum?</p>
        </div>
        <div class="col-lg-6">
            <img src="" alt="">
        </div>
    </div>
    <div class="row py-4">
        <div class="col-lg-6">
            <img src="" alt="">
        </div>
        <div class="col-lg-6">
            <h5 class="tl-ca-marche">2. Choisissez la salle de votre choix et votre type de pass</h5>
            <p class="pargh-ca-marche">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Et odit officiis adipisci aliquid architecto cum soluta explicabo natus. Iusto nam consequatur dolor 
                quisquam tenetur nemo unde blanditiis nihil optio incidunt perferendis illum illo, sequi, deleniti numquam ipsum?</p>
        </div>
    </div>
    <div class="row py-4">
        <div class="col-lg-6">
            <h5 class="tl-ca-marche">3. Sélectionnez votre moyen de paiement, et dirigez vous vers la salle pour vous éclater</h5>
            <p class="pargh-ca-marche">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Et odit officiis adipisci aliquid architecto cum soluta explicabo natus. Iusto nam consequatur dolor 
                quisquam tenetur nemo unde blanditiis nihil optio incidunt perferendis illum illo, sequi, deleniti numquam ipsum?</p>
        </div>
        <div class="col-lg-6">
            <img src="" alt="">
        </div>
    </div>
</section>
<section class="activites">
    <div class="entet-activite">
        <h4 class="titre-activit">Nos Activités</h4>
        <p class="text-activit">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Maxime!</p>
    </div>
    <div class="blck-activite">
        <div class="d-flex">
            <div>
                <img src="" alt="">
                <span></span>
            </div>
            <div>
                <img src="" alt="">
                <span></span>
            </div>
            <div>
                <img src="" alt="">
                <span></span>
            </div>
        </div>
        <div class="d-flex">
            <div>
                <img src="" alt="">
                <span></span>
            </div>
            <div>
                <img src="" alt="">
                <span></span>
            </div>
            <div>
                <img src="" alt="">
                <span></span>
            </div>
        </div>
    </div>
</section>
<section class="partenaria" style="padding: 5rem;">
    <div class="container">
        <div class="row">
            <div class="col-lg-5">
                <h4 >Vous êtes une entreprise ?</h4>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Veniam assumenda doloribus itaque reiciendis, 
                    rem laborum? Esse nisi sit corrupti quidem reprehenderit, nihil deserunt ipsa aperiam laborum porro voluptatem
                     ipsam possimus est consequatur exercitationem modi, hic atque alias? Ut pariatur distinctio rerum!</p>
                <a href="">En savoir plus sur focus</a>
                <a href="">En savoir plus sur focus</a>
            </div>
            <div class="col-lg-7">

            </div>
        </div>
        <div class="row">
            <div class="col-lg-7">

            </div>
            <div class="col-lg-5">
                <h4>Devenir partenaire sport</h4>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Veniam assumenda doloribus itaque reiciendis, 
                    rem laborum? Esse nisi sit corrupti quidem reprehenderit, nihil deserunt ipsa aperiam laborum porro voluptatem
                     ipsam possimus est consequatur exercitationem modi, hic atque alias? Ut pariatur distinctio rerum!</p>
                <a href="">En savoir plus</a>                
            </div>
        </div>
    </div>
</section>
<section class="formulair">

</section>
</section>
